<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.ttms.product.dao.ProjectDao">
	<!-- 1，命名空间作用：将Mapper和dao对象关联，绑定是否一致
		 2，resultType="cn.tedu.ttms.product.entity.Project
		 返回类型，是一个对象 OR 映射
		 
		 parameterType和resultType：通过dao层确定
		 通过parameterType完成输入映射(指将值映射到sql语句的占位符中，
		 值的类型与dao层响应方法的参数类型一致)，通过resultType完成
		 输出映射(从数据库中输出，通过dao层的方法查询到的数据输出到pojo对象中)
	 -->
	
	<!-- 定义了一个查询语句获取所有项目信息 -->
	
	<select id="findObjects" 
			resultType="cn.tedu.ttms.product.entity.Project">
		select *
		from tms_projects
	</select>
	
	<select id="findPageObjects" resultType="cn.tedu.ttms.product.entity.Project">
		select * from tms_projects
		order by createdTime desc
		limit #{startIndex},#{pageSize}
	</select>
	
	<select id="getRowCount" resultType="int">
		select count(*) from tms_projects
	</select>
	
	
</mapper>

